<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",  class:"form-control", placeholder:"Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br/>
  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password" ,  class:"form-control", placeholder:"Contraseña"%>
    <% if @minimum_password_length %>
      <em>Minimo <%= @minimum_password_length %> caracteres</em>
    <% end %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,  class:"form-control", placeholder:"Confirmacion de Contraseña"%>
  </div>
  <br/>
  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password" ,  class:"form-control", placeholder:"Contraseña Actual"%>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Actualizar" , class:"btn btn-default block full-width m-b" , style:"background-color:RGB(125, 206, 160)"%>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p> <%= button_to "Cancelar", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete  , class:"btn btn-warning block full-width m-b"%></p>

<%= link_to "Regresar", :back %>
