
<h2><strong>Nuevo usuario</strong></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control", placeholder:"Email"%>
  </div>
  <br />
  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres minimo)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" , placeholder:"Contraseña" %>
  </div>
  <br />
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control" , placeholder:"Confirmacion de Contraseña" %>
  </div>
  <br />
  <div class="field">
    <div class="form-group"><label class="col-sm-2 control-label" style="padding-top: 10px">Rol:</label>
        <div class="col-sm-10">
          <%= f.collection_select :rol_id, Rol.order(:nombre), :id, :nombre, {}, class: "form-control m-b" %>
        </div>
    </div>
  </div>
  <%= if rol_id == 2 %>
    <div class="field">
      <div class="form-group"><label class="col-sm-2 control-label" style="padding-top: 10px">Espe:</label>
          <div class="col-sm-10">
            <%= f.collection_select :especialidad_id, Especialidad.order(:nombre), :id, :nombre, {}, class: "form-control m-b" %>
          </div>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Registrar", class:"btn btn-default block full-width m-b" , style:"background-color:RGB(125, 206, 160)"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
