<%= nested_form_for @recetum do |f| %>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content p-md">
                            <h1><span class="text-navy"><strong>Nueva Receta</strong></span></h1>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content p-md">
                        <h3 class="m-b-xxs"><strong>Datos Personales</strong></h3>
                        <br>
                        <div class="row">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div class="col-sm-8">
                                        <label class="col-sm-2 control-label" style="margin-top: 10px">Paciente:</label>
                                      <div class="col-sm-10"><input type="text" class="form-control" disabled="" value=" <%= @recetum.citum.usuario.apellidos %>, <%= @recetum.citum.usuario.nombres %>"> </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="col-sm-4 control-label" style="margin-top: 10px">Edad:</label>
                                        <div class="col-sm-8"><input type="text" class="form-control" disabled="" value=" <%= @recetum.citum.usuario.get_edad(@recetum.citum.usuario.fecha_nacimiento) %> años"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" >
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content p-md">
                        <h3 class="m-b-xxs"><strong>Listado de medicamentos</strong></h3>
                        <br>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <%= link_to_add_row('Agregar Prescripcion', f, :prescripcion, class: 'btn btn-primary')%>
                                        <table class="footable table table-stripped">
                                            <thead>
                                                <tr>
                                                    <th>Medicamento</th>
                                                    <th>Concentracion</th>
                                                    <th>Forma Farmaceutica</th>
                                                    <th>Via</th>
                                                    <th>Cantidad</th>
                                                    <th>Frecuencia</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Bisoprolol</td>
                                                    <td>5mg</td>
                                                    <td>Tableta</td>
                                                    <td>Oral</td>
                                                    <td>-</td>
                                                    <td>Cada 12 horas</td>
                                                </tr>
                                                <tr>
                                                    <td>Amlodipino</td>
                                                    <td>10mg</td>
                                                    <td>Tableta</td>
                                                    <td>Oral</td>
                                                    <td>10</td>
                                                    <td>Cada 24 horas</td>
                                                </tr>
                                                <%#= f.fields_for :prescripcion do |r| %>
                                                    <%#= render 'prescripcion',f: r %>
                                                <%# end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="pull-right">
                                <%= link_to 'Regresar'.html_safe, cita_path, class: "btn btn-white", data: { "toggle" => "tooltip" }%>
                                <%= link_to 'Guardar'.html_safe, cita_path, class: "btn btn-primary", data: { "toggle" => "tooltip" }%>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<% end %>