<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
              <% if @current_usuario.categoria == 'Medico' then %>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Dia de la Cita</th>
                    <th>Horario de la Cita</th>
                    <th>Paciente</th>
                    <th>Estado de la Cita</th>
                    <th colspan="3" class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <% @cita.each do |citum| %>
                      <tr>
                        <td><%= citum.horario.dia %></td>
                        <td><%= citum.horario.horario %></td>
                        <td><%= citum.usuario.apellidos%>, <%= citum.usuario.nombres%></td>
                        <td><%= citum.estado%></td>
                        <% if citum.estado == 'Proceso_Consulta' %>
                           <%#= ap citum %>
                          <td class="text-center">
                            <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, citum_path(citum), class: "btn btn-info btn-sm", data: { "toggle" => "tooltip" }, title: "Ver" %>
                            <%= link_to '<i class="fa fa-file-text-o" aria-hidden="true"></i>'.html_safe, edit_registro_consultum_path(citum.registro_consultum), class: "btn btn-warning btn-sm", data: { "toggle" => "tooltip" }, title: "Registro de Consulta" %>
                          </td>
                        <% elsif citum.estado == 'Proceso_Receta' %>
                          <td class="text-center">
                            <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, citum_path(citum), class: "btn btn-info btn-sm", data: { "toggle" => "tooltip" }, title: "Ver" %>
                            <%#= link_to '<i class="fa fa-medkit" aria-hidden="true"></i>'.html_safe, preview_recetum_path(citum.recetum), class: "btn btn-warning btn-sm", data: { "toggle" => "tooltip" }, title: "Receta" %>
                          </td>
                        <%elsif citum.estado == 'Registrada' %>
                          <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_citum_path(citum), class: "btn btn-success btn-sm", data: { "toggle" => "tooltip" }, title: "Editar" %>
                          <%= link_to '<i class="fa fa-file-text-o" aria-hidden="true"></i>'.html_safe, edit_registro_consultum_path(citum.registro_consultum), class: "btn btn-warning btn-sm", data: { "toggle" => "tooltip" }, title: "Registro de Consulta" %>
                        <%else %>
                          <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, citum_path(citum), class: "btn btn-info btn-sm", data: { "toggle" => "tooltip" }, title: "Ver" %>
                        <% end %>
                      </tr>
                    <% end %>
                </tbody>
              </table>
              <% elsif @current_usuario.categoria == 'Paciente' then %>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Medico</th>
                    <th>Especialidad</th>
                    <th>Dia de la Cita</th>
                    <th>Horario de la Cita</th>
                    <th>Estado de la Cita</th>
                    <th colspan="3" class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <% @cita.each do |citum| %>
                      <tr>
                        <td><%= citum.horario.usuario.apellidos %>, <%= citum.horario.usuario.nombres %></td>
                        <td><%= citum.horario.usuario.especialidad.nombre %></td>
                        <td><%= citum.horario.dia %></td>
                        <td><%= citum.horario.horario %></td>
                        <td><%= citum.estado%></td>
                        <% if citum.estado == 'Proceso_Consulta' %>
                            <td class="text-center">
                              <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, citum_path(citum), class: "btn btn-info btn-sm", data: { "toggle" => "tooltip" }, title: "Ver" %>
                              <%= link_to '<i class="fa fa-file-text-o" aria-hidden="true"></i>'.html_safe, edit_registro_consultum_path(citum.registro_consultum), class: "btn btn-warning btn-sm", data: { "toggle" => "tooltip" }, title: "Registro de Consulta" %>
                            </td>
                        <% elsif citum.estado == 'Proceso_Receta' %>
                            <td class="text-center">
                              <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, citum_path(citum), class: "btn btn-info btn-sm", data: { "toggle" => "tooltip" }, title: "Ver" %>
                              <%= link_to '<i class="fa fa-medkit" aria-hidden="true"></i>'.html_safe, preview_recetum_path(citum.recetum), class: "btn btn-warning btn-sm", data: { "toggle" => "tooltip" }, title: "Receta" %>
                            </td>
                        <%elsif citum.estado == 'Registrada' %>
                            <td class="text-center">
                              <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_citum_path(citum), class: "btn btn-success btn-sm", data: { "toggle" => "tooltip" }, title: "Editar" %>
                              <%= link_to '<i class="fa fa-file-text-o" aria-hidden="true"></i>'.html_safe, edit_registro_consultum_path(citum.registro_consultum), class: "btn btn-warning btn-sm", data: { "toggle" => "tooltip" }, title: "Registro de Consulta" %>
                            </td>
                        <%else %>
                            <td class="text-center">
                              <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, citum_path(citum), class: "btn btn-info btn-sm", data: { "toggle" => "tooltip" }, title: "Ver" %>
                            </td>
                        <% end %>
                      </tr>
                    <% end %>
                </tbody>
              </table>
              <% end %>
            </div>
        </div>
    </div>
  </div>